<div class="row ">
    <div class="acc-type-btn main-page-row">
        <a href="@Url.Action("Register","Account")">
            <img src="~/Content/images/regular_user.png" />  
        </a>
        <h2>Я хочу воспользоваться услугой</h2>           
    </div>
    <div class="acc-type-btn main-page-row" align="center">
        <a href="@Url.Action("RegisterProvider","Account")">
            <img src="~/Content/images/provider.png" />           
        </a>         
        <h2>Я хочу предоставлять услуги</h2>     
    </div>
</div>
